<ion-content>

  <ion-grid class="grid1">
    <ion-row class="logo ion-justify-content-center">
      <img src="https://static.vecteezy.com/system/resources/previews/008/513/833/original/crossed-fork-and-spoon-illustration-png.png">
    </ion-row>
    <ion-row class="tit1 ion-justify-content-center">Food Bank</ion-row>
    <ion-row class="tit2 ion-justify-content-center">Special & Delicious Food</ion-row>
  </ion-grid>

  <ion-grid class="grid2">
  <ion-row class="login">
    <ion-item>
    <ion-label position="floating" class="custom">Enter Username</ion-label>
    <ion-input placeholder="Username" class="custom"></ion-input>
  </ion-item>
</ion-row>

<ion-row class="password">
    <ion-item>
    <ion-label position="floating" class="custom">Enter Password</ion-label>
    <ion-input placeholder="Password" class="custom" type="password" ></ion-input>
  </ion-item></ion-row>
</ion-grid>

<ion-grid class="grid3">
<ion-row class="a"><ion-button class="b1" size="small" fill="clear" href="categ">Log in</ion-button></ion-row>

<ion-row class="text1">
  <h4>OR</h4>
  <h4>login with</h4>
</ion-row>

<ion-row class="images">
  <a href="https://www.facebook.com/"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/1024px-2021_Facebook_icon.svg.png"></a>
  <a href="https://www.google.com/"> <img src="https://w7.pngwing.com/pngs/326/85/png-transparent-google-logo-google-text-trademark-logo.png"></a>
  <a href="https://twitter.com/"> <img src="https://static.vecteezy.com/system/resources/previews/016/716/467/non_2x/twitter-icon-free-png.png"></a>
</ion-row></ion-grid>
</ion-content>