<ion-content>
  <ion-grid class="grid1">
    <ion-row><ion-icon name="person"></ion-icon></ion-row>
    <ion-row class="tit1">Create Account</ion-row>
  </ion-grid>

  <ion-grid class="grid2">
  <ion-row class="login">
    <ion-item>
      <ion-label position="floating" class="custom">Nickname</ion-label>
      <ion-input placeholder="Nickname" class="custom"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row class="login">
    <ion-item>
      <ion-label position="floating" class="custom">Your Email</ion-label>
      <ion-input placeholder="Your Email" class="custom"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row class="password">
    <ion-item>
      <ion-label position="floating" class="custom">Your Password</ion-label>
      <ion-input placeholder="Your Password" class="custom" type="password" ></ion-input>
    </ion-item>
  </ion-row>

  <ion-row class="password">
    <ion-item>
      <ion-label position="floating" class="custom">Confirm Password</ion-label>
      <ion-input placeholder="Confirm Password" class="custom" type="password" ></ion-input>
    </ion-item>
  </ion-row>
</ion-grid>

  <ion-grid class="grid3">
  <ion-row class="a"><ion-button class="b1" size="small" fill="clear" href="login"><ion-icon name="arrow-forward-circle-sharp"></ion-icon></ion-button></ion-row>
</ion-grid>
</ion-content>